{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
<ul id="tag-cloud"></ul>
{{#foreach posts}}
{{#has tag="Quick Tip"}}
    <article class="{{post_class}}">
        <div class="flex-box-wrapper custom-post-content">
            <section class="post-image">
                {{!--{{image}}                --}}
                {{content words="0"}}                
            </section>
        </div>
        <div class="flex-box-wrapper custom-post-footer">        
            <div class="custom-post-header">           
                <p class="custom-post-title"><a href="{{url}}">{{{title}}}</a></p>
            </div>
            {{!--<section class="post-excerpt">
                <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
            </section>--}}
            <div class="custom-footer-meta">
                {{!--{{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}--}}
                {{!--{{author}}--}}
                {{tags limit="3" separator="|"}}
                {{!--<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>--}}
            </div>
        </div>
    </article>
{{else}}
    <article class="{{post_class}}">
        <div class="flex-box-wrapper custom-post-content">
            <section class="post-image">
                {{!--{{image}}--}}
                {{content words="0"}}
            </section>
        </div>
        <div class="flex-box-wrapper custom-post-footer">        
            <div class="custom-post-header">
                <span id="test"> {{test}} </span>                
                <p class="custom-post-title"><a href="{{url}}">{{{title}}}</a></p>
            </div>
            {{!--<section class="post-excerpt">
                <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
            </section>--}}
            <div class="custom-footer-meta">
                {{!--{{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}--}}
                {{!--{{author}}--}}
                {{tags limit="3" separator="|"}}
                {{!--<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>--}}
            </div>
        </div>
    </article>
{{/has}}
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
